.slider-block {
  height: 68px;
  width: 96%;
}
/* 已经选中的轨道 */
.slider-block .el-slider__bar {
  height: 4px;
  background: #474d57;
}
/* 轨道#474d57 */
.slider-block .el-slider__runway {
  height: 4px;
  background: #474d57;
}

.slider-block .el-slider__button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-top: -1px;
  background: #2b3139;
  border: solid 2px #fff;
}

.slider-block .el-slider__marks-stop {
  height: 12px;
  width: 12px;
  margin-top: -4px;
  border-radius: 50%;
  background: #2b3139;
  border: solid 2px #474d57;
}
